<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Merchandise_control</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/admin.css" />
    <script src="/javascripts/jquery-3.0.0.js"></script>
    <script src="/javascripts/admin.js"></script>
</head>
<body>
<div id="choice" class="background_box" style="display: none">
    <div class="choice_box">
        <div class="ask">
            <p>确认要删除商品“</p><p class="delete_name"></p><p>”吗？</p>
        </div>
        <form method="post">
            <input type="button" class="cancel" value="取消"/><input type="submit" name="goods_name" class="confirm" value="确认"/>
        </form>
    </div>
</div>
<div class="title_style">
    <p>pos机后台管理系统</p>
</div>
<div class="home_style">
    <div class="menu_navigation">
        <button class="merchandise_control">商品管理</button>
        <button class="Preferential_activity">折扣活动</button>
    </div>
    <div class="supervise_info">
        <p>商品信息管理</p>
        <a href="add_goods" ><button class="add_goods">添加商品</button></a>
        <table class="home_table">
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>商品数量</th>
                <th>单价(元)</th>
                <th>单位</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            <% users.forEach(function (user, index) { %>
            <tr id="goods_row<%= index %>">
                <form method="post">
                    <td><%= index+1 %></td>
                    <td><input type="text" class="name" name="goods_name" value="<%= user.goods_name %>" onfocus=this.blur()></td>
                    <td>
                        <input type="submit" class="subtract" value="-"/><input type="text" name="goods_count" class="amount" value="<%= user.goods_count %>"><input type="submit" class="augment" value="+"/>
                    </td>
                    <td><%= user.unit_price %></td>
                    <td><%= user.unit %></td>
                    <td id="goods_time"></td>
                </form>
                    <td>
                        <a href="goods_details"><input type="button" class="details" value="详情"/></a><input type="button" class="delete" value="删除"/>
                    </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div hidden id="dd">
        <%= JSON.stringify(users) %>
    </div>
</div>
</body>
</html>